.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    background: var(--bg-dayCard);
    border-radius: 30px;
    padding: 13px 0 29px 0;
    transition: transform 0.3s ease-in-out;
    .line {
        width: 96px;
        height: 1px;
        background-color: #3d3d3d;
        display: block;
        margin: 13px 0 30px 0;
        img {
            margin-bottom: 31px;
        }
    }
    &:hover{
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
.active {
    display: block;
    width: 257px;
    font-size: 20px;
    padding: 0;
    .title {
        display: flex;
        justify-content: space-between;
        border-radius: 25px 25px 0 0;
        padding: 14px 18px;
        background-color: #aecadf;
        h3 {
            color: #0f0f11;
        }
    }
    .degreeInfo {
        background-color: #bbd7ec;
        border-radius: 0 0 25px 25px;
        padding: 12px 14px;
        .degree {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                color: #0f0f11;
            }
        }
        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .conditions {
            }
        }
    }
}
.clickedDay{
    background-color: #ff3d00;
}