.hourCard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 0 0 90px;
    .hourInfo {
        background-color: var(--bg-dayCard);
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            text-align: center;
        }
    }
}
