.weekdays {
    .variety {
        display: flex;
        gap: 20px;
    }
    .days {
        margin-top: 30px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
    }
    .hourly {
        margin-top: 40px;
        .options {
            display: flex;
            gap: 20px;
        }
        .hourContainer {
            border-radius: 10px;
            display: flex;
            gap: 20px;
            overflow: scroll;
            &::-webkit-scrollbar {
                width: 0;
            }
        }
    }
}
