.weekdays {
    padding: 0 20px;
    .days {
        margin-top: 30px;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .hourly {
        margin-top: 40px;
        .options {
            display: flex;
            gap: 20px;
            button{
                border: 1px solid #626161;
                border-radius: 20px;
                background: var(--bg-btn);
                width: 115px;
                height: 46px;
                color: var(--text-color);
                transition: background 0.3s ease-in-out;
                &:hover{
                    background-color: #3d3d3d;
                }
            }
        }
        .hourContainer {
            border-radius: 10px;
            display: flex;
            gap: 10px;
            overflow: scroll;
            &::-webkit-scrollbar {
                width: 0;
            }
        }
    }
}
