@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root {
    --bg-primary: #111015;
    --text-color: #fefefe;
    --bg-input: #1e1e1e;
    --bg-btn: #19191b;
}
body.dark-theme {
    --bg-primary: #ccc;
    --text-color: #000;
    --bg-input: #ccc;
    --bg-btn: #ccc;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var(--text-color);
}
body {
    background-color: var(--bg-primary);
    color: var(--text-color);
}
li{
    list-style: none;
}
button {
    cursor: pointer;
    border: none;
    color: var(--text-color);
    background-color: inherit;
}
h2 {
    font-weight: 600;
    font-size: 36px;
    color: var(--text-color);
}
h3 {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
}
p {
    font-weight: 400;
    font-size: 12px;
    line-height: 151%;
    color: #4f5658;
    span {
        font-weight: 600;
        color: #0f0f11;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
