.cityName {
    padding: 0 20px;
    text-align: center;
    margin-bottom: 20px;
}
.header {
    padding: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1200px;
    form {
        .search {
            display: flex;
            gap: 20px;

            button {
                position: relative;
                img {
                    position: absolute;
                    top: 12px;
                    right: 30px;
                    width: 24px;
                    color: red;
                }
            }
            input {
                width: 492px;
                height: 46px;
                padding: 0 35px 0 10px;
                background: var(--bg-input);
                border: 1px solid #3d3d3d;
                border-radius: 10px;
                color: var(--text-color);
                @media screen and (max-width: 768px) {
                    width: 300px;
                }
                @media screen and (max-width: 480px) {
                    width: 200px;
                }
            }
        }
        .autocomplete {
            position: relative;
            max-width: 492px;
            .suggestions {
                position: absolute;
                top: 50px;
                left: 0;
                width: 100%;
                background: var(--bg-input);
                // border: 1px solid #3d3d3d;
                border-radius: 10px;
                color: var(--text-color);
                overflow: hidden;
                li {
                    padding: 10px;
                    cursor: pointer;
                    transition: background 0.3s ease-in-out;
                    &:hover {
                        background: #3d3d3d;
                    }
                    &:not(:last-child) {
                        border-bottom: 1px solid #3d3d3d;
                    }
                }
            }
        }
    }
    .changeThemeButton {
        border: 1px solid #626161;
        border-radius: 20px;
        background: var(--bg-btn);
        padding: 10px 20px;
        color: var(--text-color);
        svg g path {
            fill: var(--changeThemeBtn);
        }
    }
}
.activeSuggestion {
    background-color: #eee;
    color: #000;
}
